  <h3>Dominion</h3>

            <% card1 = "Cards/Bridge.jpg" %>
            <% card2 = "Cards/Bridge.jpg" %>
            <% card3 = "Cards/Bridge.jpg" %>
            <% card4 = "Cards/Bridge.jpg" %>
            <% card5 = "Cards/Bridge.jpg" %>
            <% card6 = "Cards/Bridge.jpg" %>
            <% card7 = "Cards/Bridge.jpg" %>
            <% card8 = "Cards/Bridge.jpg" %>
            <% card9 = "Cards/Bridge.jpg" %>
            <% card10 = "Cards/Bridge.jpg" %>

      <div class="row">
        <div class="twelve columns">
          <p>

<script>
var dominionBool = true;
var in­trigueBool = true;
var sea­sideBool = true;
var al­che­myBool = true;
var pros­per­i­tyBool = true;
var cor­nu­co­pi­aBool = true;
var hin­ter­landsBool = true;
var promoCardsBool = true;
</script>
<script>

function ToggleDominion(idElement)
{
  if(document.getElementById(idElement).getAttribute("class") == "alert button")
  {
    document.getElementById(idElement).setAttribute("class", "button");
  }
  else
  {
    document.getElementById(idElement).setAttribute("class", "alert button")
  }
}

function ResetCards()
{
  alert(Math.floor(Math.random() * 100) + 1);
}
</script>

<a href="javascript:ToggleDominion('DominionToggle');" class="button" id= "DominionToggle">Dominion</a>
<a href="javascript:ToggleDominion('In­trigueToggle');" class="button" id= "In­trigueToggle">In­trigue</a>
<a href="javascript:ToggleDominion('Sea­sideToggle');" class="button" id= "Sea­sideToggle">Sea­side</a>
<a href="javascript:ToggleDominion('Al­che­myToggle');" class="button" id= "Al­che­myToggle">Al­che­my</a>
<a href="javascript:ToggleDominion('Pros­per­i­tyToggle');" class="button" id= "Pros­per­i­tyToggle">Pros­per­i­ty</a>
<a href="javascript:ToggleDominion('Cor­nu­co­pi­aToggle');" class="button" id= "Cor­nu­co­pi­aToggle">Cor­nu­co­pi­a</a>
<a href="javascript:ToggleDominion('Hin­ter­landsToggle');" class="button" id= "Hin­ter­landsToggle">Hin­ter­lands</a>
<a href="javascript:ToggleDominion('PromoCardsToggle');" class="button" id= "PromoCardsToggle">Promo Cards</a>


          </p>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <p>

            
            <%= image_tag card1, :size => '148x236'%>
            <%= image_tag card2, :size => '148x236'%>
            <%= image_tag card3, :size => '148x236'%>
            <%= image_tag card4, :size => '148x236'%>
            <%= image_tag card5, :size => '148x236'%>
            <br>
            <%= image_tag card6, :size => '148x236'%>
            <%= image_tag card7, :size => '148x236'%>
            <%= image_tag card8, :size => '148x236'%>
            <%= image_tag card9, :size => '148x236'%>
            <%= image_tag card10, :size => '148x236'%>
            </p>
        </div>
      </div>

  <center><a href="javascript:ResetCards();" class="large alert button" id= "PromoCardsToggle">Go</a></center>
