<h1>Add a new deck</h1>
<%= form_for @deck do |f|%>

  <p>
    <%= f.label :title%><br />
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.label :content%><br />
    <%= f.text_area :content%>
  </p>  

  <p>
    <%= f.label :cards%><br />
    <%= f.text_field :cards%>
  </p>  

  <script type="text/javascript">

  var changer = document.getElementById('deck_cards');     
  changer.value = getCookie("CCards");
  </script>

  <p>
    <%= f.submit "Add a new deck"%>
  </p>  

<% end %>